# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


code/.recommenders/*

# eclipse runtime
code/runtime-EclipseApplication/*

# to large to upload
*performance.db

# generated properties files
code/profilingTools/JavaInteractiveProfiler/jip-src-1.2/profile/p/*

# ignore all generated profile properties
code/profilingTools/jip/properties/adaptedprofile.properties_*

# ignoring validation files
validation/

# ignoring generated databases
code/profilingOutput/