<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="com.vogella.plugin.markers.fragment"
		point="org.eclipse.e4.workbench.model">
		<fragment
			apply="initial"
			uri="fragment.e4xmi">
		</fragment>
	</extension>
   
	<extension
         id="org.eclipse.viatra2.loaders.vtclparsermarker"
         name="VTCL Parsing Problems"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
	</extension>
   
	<!-- Coloured Text marker -->
	<!-- Defines code highlighting marker -->
	<extension
    	id="org.eclipse.max.slicemarker.red"
    	name="Performance Marker Red"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.red1"
    	name="Performance Marker Red 1"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.redyellow"
    	name="Performance Marker Red Yellow"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.yellow2"
    	name="Performance Marker Yellow 2"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.yellow"
    	name="Performance Marker Yellow"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.yellow1"
    	name="Performance Marker Yellow 1"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.yellowgreen"
    	name="Performance Marker Yellow Green"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.green1"
    	name="Performance Marker Green 1"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	
	<extension
    	id="org.eclipse.max.slicemarker.green"
    	name="Performance Marker Green"
    	point="org.eclipse.core.resources.markers">
  		<super
    		type="org.eclipse.core.resources.textmarker">
  		</super>
	</extension>
	


	<!-- Links the annotation spec (color) to the marker -->
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.red"
			name="org.eclipse.max.slicemarker.red">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.red1"
			name="org.eclipse.max.slicemarker.red1">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.redyellow"
			name="org.eclipse.max.slicemarker.redyellow">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.yellow2"
			name="org.eclipse.max.slicemarker.yellow2">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.yellow"
			name="org.eclipse.max.slicemarker.yellow">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.yellow1"
			name="org.eclipse.max.slicemarker.yellow1">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.yellowgreen"
			name="org.eclipse.max.slicemarker.yellowgreen">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.green1"
			name="org.eclipse.max.slicemarker.green1">
		</type>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.max.slicemarker.green"
			name="org.eclipse.max.slicemarker.green">
		</type>
	</extension>
	


	<!-- Annotation specification: define different colors for code highlighting -->
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.red"
			colorPreferenceKey="org.eclipse.max.slice.color.red"
			colorPreferenceValue="255,153,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.red1"
			colorPreferenceKey="org.eclipse.max.slice.color.red1"
			colorPreferenceValue="255,179,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.redyellow"
			colorPreferenceKey="org.eclipse.max.slice.color.redyellow"
			colorPreferenceValue="255,204,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.yellow2"
			colorPreferenceKey="org.eclipse.max.slice.color.yellow2"
			colorPreferenceValue="255,230,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.viatra2.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.yellow"
			colorPreferenceKey="org.eclipse.max.slice.color.yellow"
			colorPreferenceValue="255,255,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.max.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.yellow1"
			colorPreferenceKey="org.eclipse.max.slice.color.yellow1"
			colorPreferenceValue="230,242,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.max.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.yellowgreen"
			colorPreferenceKey="org.eclipse.max.slice.color.yellowgreen"
			colorPreferenceValue="204,230,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.max.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.green1"
			colorPreferenceKey="org.eclipse.max.slice.color.green1"
			colorPreferenceValue="179,217,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.max.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="org.eclipse.max.slicemarker.green"
			colorPreferenceKey="org.eclipse.max.slice.color.green"
			colorPreferenceValue="153,204,153"
			contributesToHeader="false"
			highlightPreferenceKey="org.eclipse.max.slice.highlight"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			label="Performance Marker Preferences"
			overviewRulerPreferenceKey="org.eclipse.max.slice.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="0"
			textPreferenceKey="org.eclipse.max.slice.text"
			textPreferenceValue="true"
			textStylePreferenceValue="BOX"
			verticalRulerPreferenceKey="org.eclipse.max.slice.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>

</plugin>
